.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background: #000;
    color: #000;
}
.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.mySwiper2 {
    height: 80%;
    width: 100%;
}
.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.mySwiper .swiper-slide-thumb-active {
    border: 1px solid #065374;
    border-radius: 5px;
    opacity: 1;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.css-d9c359-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    background: white !important;
    text-transform: capitalize !important;
    border-radius: 6px !important;
    border: 2px #065374 solid !important;
}
.css-d9c359-MuiButtonBase-root-MuiToggleButton-root{
    background: white !important;
    margin: 3px !important;
    padding: 8px 18px !important;
    text-transform: capitalize !important;
    border-radius: 6px !important;
    border: 2px #eee solid !important;
    color: black !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}
.forPrice{
    padding-top: 0px !important;
    padding-right:0px;
    font-family: 'Poppins' cursive;
    font-size: 28px;
    color: rgb(0, 0, 0);
    font-weight:600 ;
    align-self: center;
    padding-right: 5px;
}
@media (max-width: 600px) {
    .forPrice{
        padding-top: 5px !important;
        padding-right:4px ; 
        font-family: 'Poppins' cursive;
        font-size: 20px;
        font-weight:600 ;
    }  
    .css-d9c359-MuiButtonBase-root-MuiToggleButton-root{
        padding:1px 8px !important ;
    }
}