  .custom-file-preview {
    display: flex;
    

  }
  .custom-file-preview .prev-img {

    display: flex;
    max-width: 100px;
    max-height: 100px;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
  }

  .custom-file-preview .prev-img .img {
      width: 100%;
  }
  .custom-file-preview .prev-img span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
    color: #333;
    font-size: 0.87rem;
    padding-bottom: 0.1rem;
    width: 20px;
    height: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    display: none;
  }
  .custom-file-preview .prev-img img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .custom-file-preview .prev-img:hover span {
    display: flex;
  }
  .custom-file-preview .prev-img:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
.css-ghsjzk-MuiInputBase-root-MuiInput-root::before {
  border-bottom: none !important; 
}
.css-ghsjzk-MuiInputBase-root-MuiInput-root::before{
  border-bottom: none !important;
}
.css-ghsjzk-MuiInputBase-root-MuiInput-root::after{
  border-bottom: none !important;
}

  

.active{
  border-color: red;
}

.noactive{
  border-color: black;
}
/* 
#inpChegirma{
  padding: 9px 2px 8px 17px;
  width: "10%";
  margin-top: 5px;
  margin-right: 10px;
  border: 2px solid #9F9F9F;
  border-radius: 5px;
  font-family:Poppins;
  font-weight: 500;
  color: "black";
}
#inpChegirma::placeholder{
  font-family: "Poppins";
  font-weight: 400;
  font-size: 17px;
  color: "black";
}
#inpChegirma:focus {
    outline: "none",
} */

