body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8 !important;
  font-family: 'Poppins';
}

code {
  font-family: 'Poppins', sans-serif !important;
}